html{
    font-size: 16px;
    line-height: 1.3;
    font-weight: 400;
    box-sizing: border-box;
}
body{
    font-weight: 400px;
    font-family: 'roboto',arial,sans-serif;
    color: #747474;
}
body{
    display:block;
    margin: 8px;
}

.main-header{
    display: flex;
    position: fixed;
    height:50px;
    padding-top: 0%;
    width: 100%;
    top: 0;
    background-color: white;
   
}
.section-header{
    position: fixed;
    padding-left:200px;
    padding-right: 200px;
    margin: 0 50 200 100;

   border: white;
}
.logo-docplanner{
    width: 300px;
    cursor: pointer;
    background-color: white;

}
/* --------------------styling nav bar------------------*/

.navbar{
    padding-top: 0%;
    margin:0;
    top: 0;
    width: 100%;
    overflow: hidden;
    position: fixed;
    background-color: white;
}
.container-fluid{
    position: fixed;
    display:flex;
    width: 100%;
    padding: auto;
    justify-content:center;
   background-color: white;

}
   
.navbar-header{
    display: inline;
    width: 50%;
    background-color: white;
    
}

.logo-docplanner{
    padding-top: 0;
    margin-left: 50px;
    padding-right: 20%;
    height: 40px;
    width: 60%;
}
 ul{
    float: right;
    text-decoration: none;
    

}
 .nav li a {
 text-decoration: none;
  display: block;
  padding: 12px 16px;
 font-family: 'roboto',arial,sans-serif;
 font-size: 1.5rem;

 }

 .active{
     color:#00cc99 !important;
 }
 .active:hover{
     color:#00cc99 !important;
 }
 
 .dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
 .dropdown{
     position: relative;
     display: inline-block;

 }
 .dropdown-content {
     list-style-type: none;
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px  white;
    z-index: 1;
    text-decoration:none;
    padding:0;

  }
  
  .dropdown-content  a {
    color: gray;
    padding: 12px 16px;
    text-decoration:none;
    display: block;
  }
  .dropdown-content a:hover {
      background-color: #f1f1f1 ;
      color:  #00e6ac      ;
    }

.dropdown:hover .dropdown-content {
  display: block;
}

.navbar-nav:hover .dropdown {
  color:#00cc99;
}

/* ---------------------style title h1 ----------------**/
.main-section{
    width: 85%;
    margin: auto;
    
}
.main-section h1{
    text-align: center;
    padding-bottom: 30px;
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
    color: 		  #00cc99;
    font-size: 4rem;
}
/* -------------------image in center------------------*/
.logo-lead{
    
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 5%;
        padding-top: 20px;
       
}

/* ---------------style 2 parag----------- */
.grid{
    display:grid;
    grid-template-columns: auto auto auto auto;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    
}
.grid > div {
    text-align: center;
    padding: 20px 0;
    font-size: 18px;
    color: gray    ;
    grid-gap: 2rem;

}
/* -------------styling section patient/doctor /clinic ---------- */

.service{
    width: 85%;
   margin:auto;

}

.grid1{
display:grid;
grid-template-columns: auto auto auto auto;
margin: 0 100px 100px 100px;
grid-gap: 2em;
height: 300px;



}
.grid1 > div {
text-align: left;
padding:2em 2em 0;
height: 300px;
color:white    ;
}

.doctor { background-color:  #3d83df;}

.doctor:hover{ background-color: #508fe2;}

.patient{ background-color: #00ccb1; }

.patient:hover { background-color: 	 #00e6c7;}

.clinic{  background-color:    #1b2734  ;}

.clinic:hover { background-color: 	 #233243;}


.col-3{
font-weight: 700;
border-radius: 5%;
width: 100%;
padding: 15px;
overflow: hidden;
height: 200px;

}
.col-3 h1{
text-align: left;
padding: 5px;
font-family: 'roboto' ,Arial,sans-serif;
font-size: 1.625em;    
}
.col-3 h2{
text-align: left;
padding: 5px;
font-family: 'roboto' ,Arial,sans-serif;
font-size: 1.5em;
font-weight: 300;
line-height: 1.2;
}
.select-country select{
margin-bottom: 10px;
position: relative;
display: inline-block;
vertical-align: middle;
outline: 0;
background: none;
border: 0;
color: #fff;
font-family: 'Roboto',Arial,sans-serif;
font-weight: 400;
letter-spacing: .04em;
font-size: 2rem;
text-align: center;
text-decoration: underline;
}

.col-3 img{
padding-left:10px;

}


/*-- ----------------section improve **** ----------------------*/
.offices{
    display: block;
    width: 100%;
    margin-top: 200px;
}
.offices__header{ 
    width: 85%;
   margin: auto;
   display:block;
  text-align: center;
  margin-top:50px;
  margin-bottom:70px;


}
.offices__header h1{
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    color:  #00cc99;
    padding-bottom: 20px;
    
}
.offices__header p{

    text-align: center;
    font-size: 18px;
    color:   #0f0f0a    ;
    padding-bottom: 20px;
    margin-left: 200px;
    margin-right: 200px;
    
}
/*------------------------section of links-------------------*/
.global-company{
    width: 85%;
    margin:auto;
}
.global-company{
    display: flex;
    zoom:1;
    position: relative;
}
.global-company h1{
    color: #00ccb1;
    float: left;
    font-family: 'roboto',arial,sans-serif;
    margin: .25em 0 .35em;
    padding-right: 20px ;
    font-size: 1.625em;
    width: 25%;
    line-height: 2;

}
.brands__logos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 0%;
    width: 75%;
    list-style: none;
}
.brands__logos li{
    display: inline-block;
    padding: 10px 10px;
    color: #00ccb1;

}
.brands__logos a{
    padding: 10px 0;
    text-decoration: none;
    color: #3d83df;
    outline: 0;
    transition: all .2s ease 0s;
    background-color: transparent;
}
.brands__logos li a:hover{
    color: #00ccb1;
}
.brands__logos a svg {
    height: 20px;
    width: auto;
    max-width: 100%;
    padding-left: 10px;
}
svg:not(:root) {
    overflow: hidden;
}
/*--------------------------style section healthcare plateform-----------*/
#global-section{
    display: block;
    width: 100%;
  
}
.section_content{
    background-color:  #d4f7f3;
    width: 100%;
    float: right;
    padding-bottom: 62px;
    padding-top: 30px;
    margin-bottom: 100px;

}
.test{
    width: 50%;
    float: right;
    background-color:  #d4f7f3;
}
.partie1{
    display: flex;
    width: 100%;
}

.stats-header h1{
    font-size: 3rem;
    color: #00b39b;
    font-family: 'Work Sans',Arial,sans-serif;
    font-weight: 300;
    letter-spacing: .3px;
    text-align:center;
    padding-top: 50px;
    margin-right: 100px;
    margin-left: 20px;

}
.stats-header p{
    max-width: 415px;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.7142857143;
    color: #747474;
    padding-top: 10px;
    text-align: center;
    padding-left: 50px;
    margin-right: 100px;
    margin-left: 20px;
}
.stats-header img{
    display: block;
    margin-bottom: auto;

}
.stats-header{
    padding-left: 20px;
    width: 60%;
   margin-top: 50px;
}

.partie2{
    display: flex;
    margin-left: 100px;
    margin-right: 50px;
    flex-wrap: wrap;
}
.leader-country{
    width: 35%;
   flex-shrink: 1;
   padding-top:7px;
   margin: 10px 20px 10px 0;
   /*margin: top right bottom left */ 
}
.appointments{
    margin-left: 10px;
    width: 35%;
    flex-shrink: 1;
    margin-bottom: 25px;
}
.unique-patient{
   
    margin-top: 40px;
    padding-bottom: 50px;
    width: 35%;
   flex-shrink: 1;

}
.active-doctor{
    margin: 20px 0 20px 20px;
    padding-top:20px;
    width: 35%;
    flex-shrink: 1;

}
.box img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding-top: 20px;
    padding-bottom: 20px;

}
.box h3{
    text-align: center;
    color: #00b39b;
    margin: 0.5em 0;
    font-family: 'Roboto',arial,sans-serif;
}
.box p{
   text-align: center;
   color: gray;
   padding-bottom: 5px;
}
.box{
    padding-top: 20px;
    background-color: white;
    padding-left:10px;
    border-radius: 5px;
}
/*------------------------------section countries-----------------------*/
.countries{
    width: 85%;
    margin:auto;

}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
     grid-gap: 20px;
    margin-left: 100px;
    margin-right: 100px;
}
.office__image img {
    border-radius: 7px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-bottom: 30px;
}

.warsaw,
.mexico,
.rome,
.curitiba,
.istanbul,
.barcelona,
.bologna{
    background:  #f2f2f2    ;
    border: 1px solid rgba(0,0,0,.03);
    border-radius: 6px;
    overflow: hidden;
    max-width: 311px;
    z-index: 1;
    position: relative;
    display: block;
    color: #747474;
    padding-bottom: 20px;
}

.warsaw :hover,
.mexico :hover,
.rome :hover,
.curitiba :hover,
.istanbul:hover,
.barcelona :hover,
.bologna:hover{
    background-color: white;
    opacity: 1;
}

.office__desc{
    color: gray;
    text-decoration: none;
    margin-right: 10px;
}
.office__desc .btn{
    float:right;
    text-transform: uppercase;
    font-size: 1rem;
    width: 100px;
}

/* -------------------joins us ------------- */
.join-us__header{
    margin-top:100px;
    margin-bottom:70px;
    text-align: center;

}
.join-us__header h1{
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    color: black;
    padding-bottom: 20px;
}
.btn {
    text-transform: uppercase;
}

/* --------------- styling footer ---------------------------*/
.main-footer{
    padding-top: 20px;
    padding-bottom: 0;
    width: 100;
}
.section__inner p{
    text-align: center;
    color: #ccccb3;
    padding: 12px;
}